body {
  background-color: #000;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  font-size: 62.5%;
}

#black-layer {
  background-color: #000;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#black-layer.on {
  display: flex;
}

#black-layer.off {
  display: none;
}

#black-layer p {
  font-size: 4rem;
  color: #FFF;
}

#black-layer input {
  background-color: #000;
  border: none;
  border-bottom: 1px solid #FFF;
  outline: none;
  color: #FFF;
  font-size: 3rem;
  text-align: center;
}

#black-layer input[type=text] {
  width: 70%;
}

#black-layer input[type=submit] {
  width: 20%;
}

#black-layer .error {
  font-size: 3rem;
  color: #f96363;
}

nav.navbar-default {
  background-color: rgba(38,50,56,.9);
  border-color: transparent;
  border-radius: 0px;
  color: #FFF;
}

.navbar-default .navbar-brand {
  color: #FFF;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-brand {
  height: auto;
}

.main {
  padding: 0;
}

.main .movie {
  padding: 0;
}

#youtube {
  text-align: center;
}